### Detalhes
A resposta deve conter os valores da média, mediana, moda e desvio padrão da pontuação de crédito para cada estado do dataset. O arquivo para submissão deve estar em formato json, conforme o arquivo exemplo “submission.json”.

#### OBSERVAÇÃO: É recomendado utilizar Python e pandas para esse desafio, mas também é possível utilizar outras ferramentas e linguagens de programação.

Descrição dos dados: 
- ‘id’: Identificador do cliente 
- ‘sobrenome’: Sobrenome do cliente 
- ‘pontuacao_credito’: Pontuação de crédito do cliente (quanto maior, melhor o cliente geralmente) 
- ‘estado_residencia’: Estado de residência do cliente 
- ‘genero’: Gênero do cliente 
- ‘nivel_estabilidade’: Nível de estabilidade do cliente
- ‘saldo_conta’: Saldo disponível na conta do cliente
- ‘numero_produtos’: Número de produtos que o cliente consome
- ‘possui_cartao_de_credito’: Possui um cartão de crédito cadastrado 
- ‘membro_ativo’: Membro acessa e consome frequentemente

Obs: Os dados são fictícios, mas tentam representar a realidade de uma base de clientes de um produto SaaS.

In [1]:
import pandas as pd
import numpy as np

In [2]:
dados = pd.read_csv("desafio1.csv")

In [4]:
# Função que irá criar as medidas
def get_dados(method):
    medidas = {"mean": "media", "median": "mediana", 'std': "desvio_padrao", 'mode': "moda"}
    coluna = medidas[str(method)[17:23].split(" ")[0]]
    return dados.groupby("estado_residencia")['pontuacao_credito'].agg(method).reset_index().rename(columns={'pontuacao_credito': coluna})

In [42]:
# Criando um dataframe com as medidas
submission = pd.concat([get_dados(pd.Series.mean), 
           get_dados(pd.Series.median), 
           get_dados(pd.Series.std), 
           get_dados(pd.Series.mode)], axis=1)
submission

,estado_residencia,media,estado_residencia,mediana,estado_residencia,desvio_padrao,estado_residencia,moda
0,PR,648.961294,PR,650,PR,98.607186,PR,850
1,RS,651.105143,RS,650,RS,95.136598,RS,850
2,SC,649.537653,SC,653,SC,97.233493,SC,850

In [43]:
# Removendo as colunas "estado_residencia" que vieram duplicadas (irá restar apenas 1)
submission = submission.T.drop_duplicates().T
submission

  estado_residencia    media mediana desvio_padrao moda
0                PR  648.961     650       98.6072  850
1                RS  651.105     650       95.1366  850
2                SC  649.538     653       97.2335  850

In [44]:
# Setando a coluna estado_residencia como index do DF
submission.set_index('estado_residencia', inplace=True)
submission

                     media mediana desvio_padrao moda
estado_residencia
PR                 648.961     650       98.6072  850
RS                 651.105     650       95.1366  850
SC                 649.538     653       97.2335  850

In [23]:
# Removendo o nome da coluna de index
del submission.index.name

In [24]:
submission

      media mediana desvio_padrao moda
PR  648.961     650       98.6072  850
RS  651.105     650       95.1366  850
SC  649.538     653       97.2335  850

In [26]:
# Virando o dataframe para atender o json esperado
submission.T.to_json("submission.json")