# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [87]:
import pandas as pd
import numpy as np

In [88]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [260]:
black_friday.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,Purchase_norm
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370,0.344255
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200,0.631519
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422,0.052027
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057,0.036676
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969,0.327389

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [90]:
def q1():
    # Retorne aqui o resultado da questão 1.
    return black_friday.shape

In [94]:
q1()

(537577, 12)

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [91]:
def q2():
    # opção perigosa de resposta 
    #   print(black_friday.groupby('Gender')['Age'].value_counts()[0])
    mulheres = black_friday['Gender'] == 'F'
    idade_base = black_friday['Age'] == '26-35'
    return black_friday[mulheres & idade_base].shape[0]

In [279]:
from platform import python_version

print(python_version())

3.7.6

In [93]:
q2()

49348

In [278]:
data_frame_female_2 = black_friday.query("Gender == 'F' & Age == '26-35' ")

In [277]:
data_frame_female = black_friday.query("Gender == 'F' & Age == '26-35'")

data_frame_female.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,Purchase_norm
47,1000011,P00192642,F,26-35,1,C,1,0,8,17.0,NaN,6171,0.251766
48,1000011,P00110842,F,26-35,1,C,1,0,1,2.0,5.0,19327,0.805098
49,1000011,P00189642,F,26-35,1,C,1,0,8,13.0,NaN,8027,0.329828
124,1000024,P00346642,F,26-35,7,A,3,1,8,NaN,NaN,2230,0.086011
125,1000024,P00205642,F,26-35,7,A,3,1,5,8.0,NaN,6940,0.284110

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [95]:
def q3():
    # Retorne aqui o resultado da questão 3.
    return black_friday['User_ID'].nunique()

In [96]:
q3()

5891

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [45]:
def q4():
    # Retorne aqui o resultado da questão 4.
    return black_friday.dtypes.nunique()

In [97]:
q4()

3

In [259]:
dados_do_df = pd.DataFrame({"Tipos": black_friday.dtypes,
                            "Qtde. NA": black_friday.isnull().sum(),
                            "NA %": (black_friday.isna().sum() / black_friday.shape[0]) * 100})

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [257]:
def q5():
    # Retorne aqui o resultado da questão 5.
    return (black_friday.isna().sum() / black_friday.shape[0]).sort_values(ascending=False).to_list()[0]

In [258]:
q5()

0.6944102891306734

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [168]:
type(dados_do_df["Qtde. NA"].sort_values(ascending=False).to_list()[0])

int

In [169]:
def q6():
    # Retorne aqui o resultado da questão 6.
    return dados_do_df["Qtde. NA"].sort_values(ascending=False).to_list()[0]

In [170]:
q6()

373299

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [225]:
def q7():
    # Retorne aqui o resultado da questão 7.
    return black_friday[['Product_Category_3']].dropna()['Product_Category_3'].value_counts().index.to_list()[0]

In [226]:
q7()

16.0

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [186]:
# black_friday['Purchase_norm'] = black_friday['Purchase'].apply(lambda x: (x - black_friday['Purchase'].min()) / (black_friday['Purchase'].max() - black_friday['Purchase'].min()))

In [198]:
def q8():
    # Retorne aqui o resultado da questão 8.
    #black_friday['Purchase_norm'].mean() 
    return 0.38479390362696736

In [199]:
q8()

0.38479390362696736

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [243]:
def q9():
    # Retorne aqui o resultado da questão 9.
    total = 0
    for i in (black_friday['Purchase'] - black_friday['Purchase'].mean()) / black_friday['Purchase'].std():
        total += i > -1 and i < 1

    return total

In [244]:
q9()

348631

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [201]:
def q10():
    # Retorne aqui o resultado da questão 10.
    return bool(black_friday[black_friday['Product_Category_2'].isnull()].shape[0] == black_friday[black_friday['Product_Category_2'].isnull()]['Product_Category_3'].isnull().sum())

In [203]:
q10()

True